<div class="row">
<div class="col-md-6">
  <%= image_tag @food.image.url(:original), class: "img-responsive" %>

</div>
<div class="col-md-6">
<h3><%= @food.name %> by <%= @food.producer %> </h3>
<p><%= @food.description %>
<h4 class="text-center"><%= @food.price.to_f / 100%> €</h4>
</div>
</div>


<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
